i.fa.fa-bars.fa-2x.hamburger{
	z-index: 3;
	position: relative;
    left: 5px;
    padding: 2%;
    display: none;
    color: $green;
}



nav {
	padding: 2% 0;
}

ul.menu {
	margin: 0;
	padding: 0;
	width: 60%;
	li {
		display: inline;
		margin-right: 10px;
		a {
			padding: 1%;
			margin-right: 2%;
			color: #6A6A6A;
			text-transform: uppercase;
			letter-spacing: 1px;
			&:hover {
				color: $green;
			}
		}
	}
}

#menu-main-menu {
	float: left;
}

#menu-social-media-header-navigation {
	width: 30%;
	float: right;
	text-align: right;
	li {
		margin-right: 0;
		margin-left: 3%;
	}
}


@media only screen and (max-width: 940px) {

}


@media only screen and (max-width: 550px) {
	i.fa.fa-bars.fa-2x.hamburger {
			display: block;
		}

	nav {
		display: block;
		position: absolute;
		top: 0;
		//bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.85);
		z-index: 2;
		display: none;
		#menu-main-menu {
			float: none;
			width: 100%;
			text-align: center;
			margin-top: 80px;
			li {
				display: block;
				padding: 3%;
				a{
					padding: 3%;
					@include fontSizer(18);
					font-weight: 700;
				}
			}
		}
		#menu-social-media-header-navigation {
			text-align: center;
			float: none;
			width: 100%;
			padding: 5%;
			li a {
				@include fontSizer(20);
			}
		}
	}
}


@media only screen and (max-width: 480px) {
	ul.menu li {
		margin-right: 0;
	}

	footer .menu li a {
		@include fontSizer(13);
	}
}